/* //////////////////////// */
/* ////  Import fonts  //// */
/* //////////////////////// */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto:wght@700&display=swap');

@font-face {
  font-family: AvenirNext;
  src: url("../style/avenir/font-avenir-next/AvenirNextLTPro-Regular.woff") format("woff");
}

@font-face {
  font-family: JetMono;
  src: url(../style/jetBrains_Mono/JetBrainsMono-VariableFont_wght.woff) format("woff");
}

:root {
  --accent-color: rgb(117, 73, 161);
}

/* //////////////////////// */
/* ////  Link Styling   /// */
/* //////////////////////// */



a {
  /* transition: all 0.2s ease; */
  text-decoration: none;
}

a:link {
  color: #555;
  transition: 1s;
}

a:visited {
  color: #555;
  transition: 2s;
}

a:hover {
  color: var(--accent-color);
  transition: 0.2s;
}

a:active {
  color: lightskyblue;
}

/* nav links */

nav a:link {
  color: #fafafa;
  transition: 1s;
}

nav a:visited {
  color: #fafafa;
  transition: 2s;
}

nav a:hover {
  color: rgb(117, 73, 161);
  transition: 0.2s;
}

nav a:active {
  color: lightskyblue;
}



/* //////////////////////// */
/* ///  Header Styling  /// */
/* //////////////////////// */


html, body {
  margin: 0;
  padding: 0;
  transition: 0.2s ease;
}

header h1, header h2 {
  padding: 0px 50px;
  margin: 0px;
}

header h1 {
  font-size: 3rem;
}

.monospace {
  font-family: Jetmono, monospace;
}

header .hero {
  background: url("../media/images/ASCII.png") black;
  background-size: 100%;
  background-position: center;
  height: 100vh;
}

.herotext {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
}

.herobox {
  vertical-align: middle;
}

.herocover h1 {
  color: white;
  padding: 10px 50px;
  vertical-align: top;
}

header .herocover {
  background: black;
  background-blend-mode: luminosity;
  opacity: 80%;
  height: 100vh;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

header div nav {
  color: white;
  padding: 30px 0px;
  vertical-align: bottom;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
}

nav a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}



/* //////////////////////// */
/* ///   Main Styling   /// */
/* //////////////////////// */

html {
  font-family: AvenirNext, 'Montserrat', sans-serif;

  /* Font color */
  color: #555;

  /* Background color */
  background-color: #fafafa;

}

nav {
  text-align: center;
}

main h3 {
  margin-top: 50px;
  margin-bottom: 50px;
}

body {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: AvenirNext, Avenir, Futura, Roboto, sans-serif;
  letter-spacing: 0.1rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

section {
  text-align: center;
}

section p {
  max-width: 625px;
  text-align: justify;
  margin: auto;
  padding: 30px 50px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: white;
}

p {
  padding: 20px;
  line-height: 1.7rem;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
}

ul {
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 500px;
  gap: 20px;
  margin: auto;
}

ol {
  justify-content: center;
}

.favbox li {
  height: 50px;
  width: 50px;
}

.spacer {
  height: 50px;
  margin: 0px;
  padding: 0px;
}

li {
  text-decoration: none;
  /* margin: 10px; */
  line-height: 1.7rem;
}

hr {
  border: 1px solid var(--accent-color);
  opacity: 10%;
  width: 30%;
}

.center {
  text-align: center;
}

.top-margin {
  margin-top: 100px;
}



/* //////////////////////// */
/* ///  Footer Styling  /// */
/* //////////////////////// */



.pagefooter {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pagefooter nav {
  padding-top: 60px;
  padding-bottom: 30px;
}

.favbox {
  padding-left: 100px;
  padding-right: 100px;
}

.favicons img{
  height: 50px;
  width: 50px;
  transition: 1s;
}

.absolute {
  position: absolute;
}

.faviconsblur:hover {
  transition: 0.2s;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: invert(33%) sepia(10%) saturate(3289%) hue-rotate(227deg) brightness(98%) contrast(92%);
}

.signature {
  padding: 10px;
  margin: 0px;
  color: #777;
  font-size: .75rem;
  text-align: center;
  margin: auto;
  vertical-align: bottom;
}