/* ////////////////////////////// */
/* ////////////////////////////// */
/* ///  Avenir Basic Styling   ///*/
/* ////////////////////////////// */
/* ////////////////////////////// */


/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto:wght@700&display=swap');

@font-face {
  font-family: AvenirNext;
  src: url("./font-avenir-next/AvenirNextLTPro-Regular.woff") format("woff");
}

@font-face {
  font-family: JetMono;
  src: url(../jetBrains_Mono/JetBrainsMono-VariableFont_wght.woff);
  src: url("./style/jetBrains_Mono/JetBrainsMono-VariableFont_wght.woff") format("woff");
}

/* Pseudo-class styling for page links. */

a {
  /* transition: all 0.2s ease; */
  text-decoration: none;
}

a:link {
  color: #555;
  transition: 1s;
}

a:visited {
  color: #555;
  transition: 2s;
}

a:hover {
  color: rgb(117, 73, 161);
  transition: 0.2s;
}

a:active {
  color: lightskyblue;
}


/* ////////////////////////////// */

/* Main site styling */

/* ////////////////////////////// */

html {
  font-family: 'AvenirNext', 'Montserrat', monospace !important;

  /* Font color */
  /* color: #555; */

  /* Background color */
  /* background-color: #fafafa; */

}
